.source  {
    padding: 8px;
    border-radius: 6px;
}

.source pre {
    font-family: ConsolaMono;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}

.errorlist {
    margin: 0px;
    margin-top: 2em;
    margin-bottom: -1em;
    padding: 4px;
    list-style-type: none;

    border: solid 1px;
    border-color: #444;
    border-radius: 1em;
    border-bottom: none;
}
