{% extends "base.html" %}
{% block title %}Paste :: {% endblock %}
{% block content %}
  {% comment %}<a href="{% url 'pastebin.views.create' %}">Create paste.</a>{% endcomment %}
  <form action="{% url 'pastebin.views.create' %}" method="POST">
    {#% csrf_token %#}
    {{ form.as_p }}
    <input type='hidden' name='csrfmiddlewaretoken' value='' id='form_csrf' />
    <input type="submit" style="margin:auto;" />
  </form>
  <script>document.getElementById('form_csrf').value = '{{ csrf_token }}';</script>
  
  <ul>
  {% for paste in pastes %}
    <li><a class="monospace" href="{% url 'pastebin.views.show' paste.urlid %}">{{ paste.urlid }}</a> - {{ paste.time }} - {{ paste.lang.name }}</li>
  {% endfor %}
  </ul>
{% endblock %}
